{% comment %}
  Section: Footer com bolhas animadas
  Arquivo JS externo: assets/bubble.js
{% endcomment %}

<section id="section-{{ section.id }}" class="raviolli-footer">
  <div class="bubbles"></div>

  <div class="content">
    <div>
      <div>
        <b>Eldew</b>
        <a href="#">Secuce</a>
        <a href="#">Drupand</a>
        <a href="#">Oceash</a>
        <a href="#">Ugefe</a>
        <a href="#">Babed</a>
      </div>
      <div>
        <b>Spotha</b>
        <a href="#">Miskasa</a>
        <a href="#">Agithe</a>
        <a href="#">Scesha</a>
        <a href="#">Lulle</a>
      </div>
      <div>
        <b>Chashakib</b>
        <a href="#">Chogauw</a>
        <a href="#">Phachuled</a>
        <a href="#">Tiebeft</a>
        <a href="#">Ocid</a>
        <a href="#">Izom</a>
        <a href="#">Ort</a>
      </div>
      <div>
        <b>Athod</b>
        <a href="#">Pamuz</a>
        <a href="#">Vapert</a>
        <a href="#">Neesk</a>
        <a href="#">Omemanen</a>
      </div>
    </div>
    <div>
      <a
        class="image"
        href="https://codepen.io/z-"
        target="_blank"
        style="background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/199011/happy.svg');"
      ></a>
      <p>©2019 Not Really</p>
    </div>
  </div>

  <svg style="position:fixed; top:100vh">
    <defs>
      <filter id="blob">
        <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="blob" />
      </filter>
    </defs>
  </svg>
</section>

{% style %}
  /* teu CSS completo aqui (pode colar o mesmo que já mostrou) */
{% endstyle %}

{% schema %}
{
  "name": "Raviolli Footer",
  "settings": [],
  "presets": [
    {
      "name": "Raviolli Footer"
    }
  ]
}
{% endschema %}

{% javascript %}
  import "{{ 'bubble.js' | asset_url }}";

  // Inicializa as bolhas para esta section
  window.addEventListener('DOMContentLoaded', () => {
    if (window.initBubbles) {
      window.initBubbles('#section-{{ section.id }}');
    }
  });
{% endjavascript %}
