{% comment %}
  Escape Game Section
  Autor: Denis Bonaccini
  Descrição: Mini jogo interativo com múltiplos estágios (1–5)
{% endcomment %}

<section id="escape-game">
  <div class="container">
    <!-- === FRONT === -->
    <input type="radio" name="stage" class="stage-radio" checked>
    <label class="stage front" for="instructions"></label>

    <!-- === INSTRUCTIONS === -->
    <input type="radio" name="stage" id="instructions" class="stage-radio">
    <label class="stage instructions" for="stage_1"></label>

    <!-- === STAGE 1 === -->
    <input type="radio" name="stage" id="stage_1" class="stage-radio">
    <form class="stage stage-1">
      <input type="radio" class="map-radio" id="stage_1_map_1" checked>
      <div class="map stage-1-map-1">
        <div class="object wall-clock" style="--object-top:30px;--object-left:103px;"></div>
        <div class="object mat" style="--object-top:170px;--object-left:80px;"></div>
        <input type="checkbox" id="stage_1_door" class="door-way-checkbox">
        <label class="door-way door-way-close" for="stage_1_door"><div class="door"></div></label>
        <label class="door-way door-way-open" for="stage_2"><div class="door"></div></label>
        <div class="object floor-vase" style="--object-top:130px;--object-left:55px;"></div>
        <div class="object lamp" style="--object-top:100px;--object-left:158px;"></div>
      </div>
      <input type="reset" class="nav nav-reset" value="">
      <div class="stage-label stage-label-1"></div>
    </form>

    <!-- === STAGE 2 === -->
    <input type="radio" name="stage" id="stage_2" class="stage-radio">
    <form class="stage stage-2">
      <input type="checkbox" id="stage_2_map_1_key" class="key-checkbox door-key">
      <input type="radio" class="map-radio" id="stage_2_map_1" checked>
      <div class="map stage-2-map-1">
        <label class="object key door-key-trigger" for="stage_2_map_1_key" style="--object-top:175px;--object-left:112px;"></label>
        <div class="object wall-clock" style="--object-top:30px;--object-left:103px;"></div>
        <input type="checkbox" id="stage_2_map_1_mat" class="mat-checkbox">
        <label class="object mat" for="stage_2_map_1_mat" style="--object-top:170px;--object-left:80px;"></label>
        <div class="door-way"><div class="door"></div></div>
        <input type="checkbox" id="stage_2_door" class="door-way-checkbox">
        <label class="door-way door-way-close" for="stage_2_door"><div class="door"></div></label>
        <label class="door-way door-way-open" for="stage_3"><div class="door"></div></label>
        <div class="object floor-vase" style="--object-top:130px;--object-left:55px;"></div>
        <div class="object lamp" style="--object-top:100px;--object-left:158px;"></div>
      </div>
      <input type="reset" class="nav nav-reset" value="">
      <div class="stage-label stage-label-2"></div>
    </form>

    <!-- Continua com STAGE 3, 4 e 5 exatamente no mesmo formato -->
    <!-- Recomendo mover os trechos longos para "snippets" se quiser modularizar -->
  </div>
</section>

{% schema %}
{
  "name": "Escape Game",
  "settings": [],
  "presets": [
    { "name": "Escape Game Interativo" }
  ]
}
{% endschema %}

{% stylesheet %}
  /* Aqui você pode colar ou importar o CSS do jogo */
  #escape-game {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .stage-radio,
  .map-radio,
  .door-way-checkbox,
  .mat-checkbox,
  .key-checkbox,
  .closet-checkbox,
  .window-checkbox {
    display: none;
  }

  .object {
    position: absolute;
    cursor: pointer;
  }

  .door-way {
    position: absolute;
  }

  .nav {
    cursor: pointer;
  }
{% endstylesheet %}
